$mainBackgroundColor: #1F2326;
$mainSecondaryBackgroundColor: #EFEAE4;

$defaultLightColor: white;
$defaultDarkColor: black;

$secondaryLightColor: rgba(255, 70, 86, 0.82);
$secondaryDarkColor: #d23a47;