header {
    background-color: $mainBackgroundColor;

    #logoAndInfo {
        padding: 2rem;

        #logo {
            width: 20px;
            height: 20px;
            fill: white;
        }
    }
}

main {
    width: 100vw;
    height: 100%;

    #s-hero {
        width: 100%;
        height: 89rem;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        #bg-video {
            width: 100%;
            height: 100%;

            z-index: -1;
            position: absolute;

            video {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                left: 0;

                background-color: rgba($mainBackgroundColor, $alpha: 0.8);
            }

        }

        h1 {
            font-size: 10rem;
            color: $secondaryLightColor;
        }
    }

    #mainAgents {
        width: 100vw;
        height: 110rem;

        background-color: $mainBackgroundColor;

        .container {
            padding-top: 30rem;

            #containerAgents {
                display: flex;

                width: 100%;
                height: 100%;

                div {
                    max-width: 60rem;
                    width: 100%;
                    height: 60rem;

                    border-radius: 10px 0px 10px 10px;

                    position: relative;

                    img {
                        left: 0;
                        top: -150px;
                        max-width: 80rem;
                        width: 80rem;

                        position: absolute;
                    }


                }
            }
        }
    }
}