header {
    background-color: $mainBackgroundColor;

    #logoAndInfo {
        padding: 2rem;

        #logo {
            width: 20px;
            height: 20px;
            fill: white;
        }
    }
}

main {
    width: 100vw;
    height: 100%;

    overflow: hidden;

    #s-hero {
        width: 100%;
        height: 89rem;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        #bg-video {
            width: 100%;
            height: 100%;

            z-index: -1;
            position: absolute;

            video {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                left: 0;

                background-color: rgba($mainBackgroundColor, $alpha: 0.8);
            }

        }

        h1 {
            font-size: 10rem;
            color: $secondaryLightColor;
        }
    }

    #mainAgents {
        width: 100vw;
        height: 140rem;

        background-image: url(../img/backgroundAgents.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;


        &::after {
            content: '';
            position: absolute;

            width: 100%;
            height: 100%;

            top: 0;

            background-color: rgba($mainSecondaryBackgroundColor, $alpha: 0.8);
            z-index: 1;
        }

        .container {
            padding-top: 20rem;
            z-index: 4;
            letter-spacing: 1rem;

            position: relative;
            
            h2 {
                text-align: center;

                margin-bottom: 20rem;
                font-size: 10rem;
                -webkit-text-stroke: 3px $secondaryLightColor;
            }
            

            #containerAgents {
                display: flex;
                justify-content: space-between;
                gap: 10rem;

                div {
                    width: clamp(40rem, 100%, 50rem);
                    height: 60rem;
                    display: flex;

                    border-radius: 5px 0px 5px 5px;

                    position: relative;

                    transition: 0.2s ease-in-out;

                    img {
                        width: clamp(40rem, 150%, 80rem);
                        position: absolute;

                        left: -10rem;
                        top: 2rem;

                        z-index: 2;
                    }

                    @keyframes move {
                        from {
                            left: -10rem;
                            top: 2rem;
                        }

                        to {
                            left: 17rem;
                            top: -10rem;
                        }


                    }

                    @keyframes out {
                        from {
                            left: 17rem;
                            top: -10rem;
                        }

                        to {
                            left: -10rem;
                            top: 2rem;
                        }


                    }

                    &:hover {
                        &:before {
                            height: 100%;
                        }
                    }

                    .infoAgents {
                        width: 100%;
                        opacity: 0;
                        
                        height: 0;
                        display: flex;
                        flex-direction: column;

                        background-repeat: no-repeat;
                        background-position: center;

                        position: relative;

                        transition: 0.5s ease-in-out;

                        padding-left: 7rem;

                        span {
                            font-size: 6rem;
                            display: inline-block;
                            color: #000;
                            font-family: "DrukWide", sans-serif;
                            position: absolute;

                            letter-spacing: 7px;
    
                            left: -14rem;
                            top: 15rem;

                            transform: rotate(90deg);
                        }

                        p {
                            letter-spacing: 0.1rem;
                            font-size: 2rem;
                            font-weight: 400;
                            line-height: 3rem;
                            max-width: 30rem;

                            color: black;

                            margin-top: 15rem;
                            z-index: 5;
                        }

                        button {
                            letter-spacing: 0.1rem;
                            font-size: 1.5rem;
                            font-weight: 500;
                            text-transform: uppercase;

                            max-width: 30rem;
                            height: 6rem;
                            border-radius: 0.5rem;


                            background-color: white;
                            color: black;

                            //rgb(81, 81, 81)

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            cursor: pointer;

                            z-index: 10;

                            margin-top: 5rem;

                            transition: 0.3s ease-in-out;

                            &:hover {
                                background-color: rgb(81, 81, 81);
                                color: white;
                            }
                        }
                    }


                }

                &:hover > :not(:hover) {
                    transform: scale(0.7);
                }
            }
        }

        
    }

    #allInfoAgents {
        height: 0;
        width: 100%;

        background-color: aquamarine;
    }
}