* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "DrukWide";
    src: url("../font/Druk-Wide-Bold.ttf");
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

}

h1 {
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: "DrukWide", sans-serif;
    color: transparent;
    
}